#drawingApp {
    position: absolute;
    overflow: hidden;
    background-color: transparent;
    z-index: 1001;
}

#drawingCanvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: transparent;
}

#gameFrame {
    position: absolute;
    outline: none;
    border: 0;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
}

.hidden {
    display: none;
}